<div id="visual-nav" class="col-sm-12">
  <%= image_tag @home_main_menus.attachment.url(:original), alt: @home_main_menus.alt, class: 'home-main-image' %>
  <!-- To change with bullets + JS div -->
  <% @products_taxons.each_with_index do | taxon, index | %>
    <%# raise %>
    <div id="bullet-<%= "#{index+1}" %>" class="<%= taxon.name.downcase %> bullet-<%= "#{index+1}" %> bullet undeployed" data-taxon-id="<%= taxon.id %>">
      <span class="content plus" >+</span>
      <span class="content title" >
        <%= link_to taxon.name, spree.nested_taxons_path(taxon), :class => 'bullet-link' %>
      </span>
    </div>
  <% end %>
</div>

<div class="row">
  <% @home_inserts.each_with_index do | insert, index | %>
    <div class="col-sm-6 insert-frame">
      <div class="insert home" data-home-insert="<%= "#{index}" %>">
        <ul class="list-inline title-bars">
          <li class="left-bar"></li>
          <li class="title"><h4><%= insert.title %></h4></li>
          <li class="right-bar"></li>
          <li class="reset"></li>
        </ul>
        <%= image_tag(insert.attachment.url(:original), alt: insert.alt, class: 'home-insert') %>
      </div>
    </div>
  <% end %>
</div>